{{!-- nav bar --}} {{> nav }}

<div class="main ui stackable grid container">

    <div class="ui container sixteen wide column">
        <div class="ui raised teal segment">
            <div class="row">
                <h1 class="ui header">
                    <img src="{{doctor.image}}" class="ui circular image"> {{!-- {{#each doctor}} --}} Welcome Dr. {{doctor.first_name}} {{doctor.last_name}} {{!-- {{/each}} --}}
                    <a href="/">
                        <div id="logout" class="ui basic button">Log Out</div>
                    </a>
                </h1>
            </div>
        </div>
    </div>

    <div class="eight wide column">
        <table class="ui teal two column table" id="table">
            <thead class="ui inverted">
                <tr>
                    <th class="twelve wide"><i class="alarm icon"></i>Alerts</th>
                    <th id="hide" class="four wide">Due Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each doctor.alerts}} {{#ifEquals this.is_alert true}} {{#ifEquals this.type "Chat"}}
                <tr>
                    <td><i class="comments outline icon"></i>{{this.message}}</td>
                    <td>Today</td>
                </tr>
                {{/ifEquals}} {{#ifEquals this.type "Phone"}}
                <tr>
                    <td><i class="phone icon"></i>{{this.message}}</td>
                    <td>Today</td>
                </tr>
                {{/ifEquals}} {{#ifEquals this.type "Message"}}
                <tr>
                    <td><i class="mail outline icon"></i>{{this.message}}</td>
                    <td>Today</td>
                </tr>
                {{/ifEquals}} {{/ifEquals}} {{/each}} {{!-- {{/each}} --}}
            </tbody>
        </table>
    </div>

    <div class="eight wide column">
        <table class="ui teal one column table" id="table">
            <thead>
                <tr>
                    <th><i class="checkmark box icon"></i>Tasks</th>
                    <th id="hide">Status</th>
                    <th id="hide" class="three wide column"><i class="add circle icon"></i></th>
                </tr>
            </thead>
            <tbody>
                {{#each doctor.alerts}} {{#ifEquals this.is_alert false}}
                <tr>
                    <td>{{this.message}}</td>
                    <td>
                        <div class="ui checkbox">
                            <input data-id="{{this.id}}" onClick="checkClick" type="checkbox">
                            <label></label>
                        </div>
                    </td>
                    <td></td>
                </tr>
                {{/ifEquals}} {{/each}} {{!-- {{/each}} --}}
            </tbody>
        </table>
    </div>

    <div class="ui sixteen wide column">
        <table class="ui teal table" id="table">
            <thead>
                <tr>
                    <th class="three wide"><i class="alarm icon"></i>Upcoming Appointments</th>
                    <th class="three wide"></th>
                    <th class="five wide"></th>
                    <th class="five wide"></th>
                </tr>
                <tr id="hide">
                    <th class="three wide">Date</th>
                    <th class="three wide">Time</th>
                    <th class="five wide">Patient</th>
                    <th class="five wide">Appointment Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>May 24, 2017</td>
                    <td>10:00am</td>
                    <td>Abby Lee</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>May 24, 2017</td>
                    <td>10:30am</td>
                    <td>Phil Collins</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 24, 2017</td>
                    <td>11:00am</td>
                    <td>Will Smith</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 25, 2017</td>
                    <td>11:00am</td>
                    <td>Bill Nye</td>
                    <td>Physical Exam</td>
                </tr>
                <tr>
                    <td>May 25, 2017</td>
                    <td>11:30am</td>
                    <td>Richard Simmons</td>
                    <td>Phone Appointment</td>
                </tr>
                <tr>
                    <td>May 26, 2017</td>
                    <td>1:30pm</td>
                    <td>Natalie Portman</td>
                    <td>Follow up visit</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="ui modal">
        <i class="close icon"></i>
        <form class="ui form" action="/tasks/add" method="post">
        <h1>Add Task or Alert</h1>
            <div class="fields">
                <div class="field sixteen wide">
                    <label>What task would you like to add?</label>
                    <input type="text" name="message" placeholder="Enter Task here" required>
                </div>
            </div>
            <div class="fields">
                <div class="field eight wide">
                    <label>Select Priority</label>
                    <select class="ui fluid dropdown" name="isAlert" id="type">
                        <option value="true">Alert</option>
                        <option value="false">Task</option>
                    </select>
                </div>
                <div class="field eight wide">
                    <label>Select Type of Follow up</label>
                    <select class="ui fluid dropdown" name="type" id="type">
                        <option value="Phone">Phone</option>
                        <option value="Chat">Chat</option>
                        <option value="Message">Message</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="ui positive left labeled icon button"><i class="checkmark icon"></i> Add</button>
            <span class="ui negative left labeled icon button" id="cancel-modal"><i class="cancel icon"></i> Cancel</span>
        </form>
    </div>
</div>