{{> patientnav}}

<!--HEADER-->
<div class="ui main container">
    <div class="row">
        <div class="ui basic button">Log Out</div>
    </div>
    <div class="row">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img class="image" src="{{patient.image}}">
                </div>
                <div class="content">
                    <a class="header">{{patient.first_name}} {{patient.last_name}}</a>
                    <div class="description">
                        <ul>
                            <li>{{patient.street_address}}</li>
                            <li>{{patient.city}}, {{patient.state}}, {{patient.zip}}</li>
                            <li>{{patient.telephone}}</li>
                            <li>{{patient.height}}</li>
                            <li>{{patient.weight}}</li>
                        </ul>
                    </div>
                    {{!-- <div class="extra">
                        Bacon ipsum dolor amet filet mignon ground round cow, brisket flank cupim sirloin capicola porchetta short ribs pastrami
                        doner venison.
                    </div> --}}
                </div>
            </div>
        </div>
    </div><!--row-->
    <div class="ui divider"></div>
    <div class="ui stackable grid">
        <div class="row">
            <table class="ui teal celled table">
                <thead>
                    <tr>
                        <th>Test</th>
                        <th>Status</th>
                        <th>Results</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>White Blood Count</td>
                        <td>Pending</td>
                        <td class="negative"><i class="icon close"></i>Unknown</td>
                    </tr>
                    <tr class="positive">
                        <td>Chemistry Panel and Complete Blood Count</td>
                        <td>Complete</td>
                        <td class="positive"><i class="icon checkmark"></i>Within Range</td>
                    </tr>
                    <tr class="positive">
                        <td>C-Reactive Protein</td>
                        <td>Complete</td>
                        <td class="negative"><i class="icon close"></i>Negative</td>
                    </tr>
                    <tr>
                        <td>Hemoglobin A1C</td>
                        <td>Scheduled</td>
                        <td>Unknown</td>
                    </tr>
                </tbody>
            </table>
        </div><!--row-->
       <div class="row"></div>
        {{!-- <div class="ui stackable grid"> --}}
            <div class="eight wide column">
                <table class="ui teal celled table">
                    <thead>
                        <tr>
                            <th>Allergy</th>
                            <th>Severity</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Lactose</td>
                            <td>High</td>
                            <td>None</td>
                        </tr>
                        <tr class="warning">
                            <td>Penicillin</td>
                            <td><i class="attention icon"></i> High</td>
                            <td>None</td>
                        </tr>
                        <tr>
                            <td>Pet Dander</td>
                            <td>Low</td>
                            <td class="warning"><i class="attention icon"></i>Has pets</td>
                        </tr>
                        <tr>
                            <td>Peanuts</td>
                            <td>Moderate</td>
                            <td>None</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--column-->
            <div class="eight wide column">
                <table class="ui teal celled table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Procedure</th>
                            <th>Reason for Procedure</th>
                            <th>Provider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>September 14, 2016</td>
                            <td>Knee Surgery</td>
                            <td>Sports injury</td>
                            <td>Kaiser Permanente</td>
                        </tr>
                        <tr>
                            <td>September 1, 2016</td>
                            <td>X-Ray</td>
                            <td>Patient came in complaining of knee pain</td>
                            <td>Kaiser Permanente</td>
                        </tr>
                        <tr>
                            <td>May 11, 2014</td>
                            <td>Biopsy</td>
                            <td>Cyst found</td>
                            <td>Kaiser Permanente</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--column-->
        {{!-- </div> --}}
    </div><!--ui stackable grid-->

</div><!--ui main container-->


