{{!-- nav bar --}}
{{> nav}}

<div class="main ui grid container" id="main-container">
    <div class="ui container sixteen wide column">
        <h1>My Dashboard > My Patients</h1>
        <h3>Select a patient below.</h3>
    </div>

    <div class="sixteen wide column">
        <table class="ui striped teal one column table" id="table">
            <thead>
                <tr id="hide" class="sixteen wide column">
                    <th class="two wide column">Image</th>
                    <th class="four wide column">Name</th>
                    <th class="two wide column">Gender</th>
                    <th class="four wide column">Provider</th>
                    <th class="four wide column">Next Appt</th>
                </tr>
            </thead>
            <tbody>

                {{#each patient}}
                <tr class="sixteen wide column" id={{this.id}}>
                    <td class="two wide column"><img class="ui avatar image" src="{{this.image}}"></td>
                    <td class="four wide column"><a href="/patients/{{this.id}}">{{this.first_name}} {{this.last_name}}</a></td>
                    <td class="two wide column">{{this.gender}}</td>
                    <td class="four wide column">{{this.provider_name}}</td>
                    <td class="four wide column">September 2, 2017</td>
                </tr>

                {{/each}}
            </tbody>
        </table>
        <div id="add" class="ui basic buttons">
            <div id="add" class="ui right button">
                <a href="/patients/add"><i class="add user icon"></i> Add Patient</a>
            </div>
        </div>
    </div>
</div>


{{!-- <td>{{this.first_name}}</td>
<td>{{this.last_name}}</td>
<td>{{this.dob}}</td>
<td>{{this.street_address}}</td>
<td>{{this.city}}</td>
<td>{{this.state}}</td>
<td>{{this.zip}}</td>
<td>{{this.telephone}}</td>
<td>{{this.height}}</td>
<td>{{this.weight}}</td>
<td>{{this.allergies}}</td>
<td>{{this.procedures}}</td>
<td>{{this.type}}</td>
<td>{{this.emergency_contact_name}}</td>
<td>{{this.emergency_contact_numbertd}}</td>
<td>{{this.provider_name}}</td>
<td>{{this.appointments}}</td>
<td>{{this.image}}</td> --}}
