
{{> nav }}
<!--HEADER-->
<div class="ui main container">
    <div class="row">
        <a href="/">
            <div id="logout" class="ui basic button">Log Out</div>
        </a>
    </div>
    <div class="row">
        <div class="ui items">
            <div class="item">
                <div class="ui tiny image">
                    <img class="image" src="{{patient.image}}">
                </div>
                <div class="content">
                    <a class="header">{{patient.first_name}} {{patient.last_name}}</a>
                    <div class="description">
                        <ul>
                            <li>Address: {{patient.street_address}}</li>
                            <li>{{patient.city}}, {{patient.state}}, {{patient.zip}}</li>
                            <li>Phone: {{patient.telephone}}</li>
                            <li>Height: {{patient.height}}</li>
                            <li>Weight: {{patient.weight}}</li>
                        </ul>
                    </div>
                    <div class="extra">
                        <ul>
                            <li>Emergency Contact: {{patient.emergency_contact_name}}</li>
                            <li>Emergency Contact Number: {{patient.emergency_contact_number}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--row-->
    <div class="ui divider"></div>
    <div class="ui stackable grid">
        <div class="row">
            {{> labresults}}
        </div>
        <div class="row">
            <table class="ui teal celled table">
                <thead>
                    <tr>
                        <th>Lab Set</th>
                        <th id="hide">Specific Lab</th>
                        <th id="hide">Result</th>
                        <th id="hide">Normal Range</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Complete Blood Count</td>
                        <td>WBC</td>
                        <td class="negative">2.6</td>
                        <td>4.5-10</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Hemoglobin</td>
                        <td class="negative">11.2</td>
                        <td>13.5-16.5(male), 12.0-15.0(female)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Hematocrit</td>
                        <td class="negative">33.4</td>
                        <td>41-50(male), 26-44(female)</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Platelets</td>
                        <td class="negative">90</td>
                        <td>100-450</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Neutrophil count (%)</td>
                        <td class="positive">2.08(80%)</td>
                        <td>2-7(40-80%)</td>
                    </tr>
                    <tr>
                        <td>Metabolic Panel</td>
                        <td>Sodium</td>
                        <td>139</td>
                        <td>135-147</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Potassium</td>
                        <td>4.4</td>
                        <td>3.4-5.2</td>
                    </tr>
                </tbody>
            </table>
        </div><!--row-->
        <div class="row">
            <div class="six wide column">
                <table class="ui teal celled table">
                    <thead>
                        <tr>
                            <th>Allergy</th>
                            <th id="hide">Severity</th>
                            <th id="hide">Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{patient.allergies}}</td>
                            <td class="warning"><i class="attention icon"></i>High</td>
                            <td>None</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--column-->
            <div class="ten wide column">
                <table class="ui teal table">
                    <thead>
                        <tr>
                            <th id="hide">Date</th>
                            <th>Procedure</th>
                            <th id="hide">Reason for Procedure</th>
                            <th id="hide">Provider</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>September 14, 2013</td>
                            <td>{{patient.procedures}}</td>
                            <td>Hamburger salami bresaola, strip steak leberkas bacon rump corned beef alcatra.</td>
                            <td>{{patient.provider_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div><!--column-->
        </div><!--row-->
    </div><!--ui stackable grid-->

</div><!--ui main container-->