
<tr>

<td>{{patient.first_name}}</td>
<td>{{patient.last_name}}</td>
<td>{{patient.dob}}</td>
<td>{{patient.street_address}}</td>
<td>{{patient.city}}</td>
<td>{{patient.state}}</td>
<td>{{patient.zip}}</td>
<td>{{patient.telephone}}</td>
<td>{{patient.height}}</td>
<td>{{patient.weight}}</td>
<td>{{patient.allergies}}</td>
<td>{{patient.procedures}}</td>
<td>{{patient.emergency_contact_name}}</td>
<td>{{patient.emergency_contact_numbertd}}
<td>{{patient.provider_name}}</td>
<td>{{patient.appointments}}</td>
<td>{{patient.image}}</td>

</tr>